* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, .9); */
    /* for white background change body's background color to white and use the commented styles below.*/
}

p {
    font-size: 6rem;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: transparent;
    text-shadow:
        -2px 2px 2px rgba(0, 0, 0, 0.4),
        5px 2px 0px aqua,
        7px 4px 2px black;
}

p {
    font-size: 6rem;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: transparent;
    text-shadow:
        -2px 2px 1px rgba(255,255, 255, 0.25),
        1px 2px 0px hotpink,
        2px 2px 1px hotpink,
        3px 2px 0px hotpink,
        3px 2px 1px hotpink,
        4px 2px 0px hotpink,
        5px 2px 0px hotpink,
        4px 2px 0px hotpink,
        7px 4px 2.5px black;
}